/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-newspaper-columns-block-newspaper-columns-block {
	background-color: #f2f0e5;
	color: #000;
	padding: 20px;

	column-count: 4;
	column-width: 200px;
	column-gap: 2.5rem;
	column-rule: 1px solid #b8b8b8;
	/* 	overflow: hidden; */
	column-fill: auto;
}

.wp-block-newspaper-columns-block-newspaper-columns-block p {
	margin-top: 0;
}

.wp-block-newspaper-columns-block-newspaper-columns-block h2 {
	column-span: all;
	margin: 0 0 1rem;
}

.wp-block-newspaper-columns-block-newspaper-columns-block
	p:first-of-type:first-letter {
	color: #903;
	float: left;
	font-size: 60px;
	line-height: 50px;
	padding-top: 4px;
	padding-right: 8px;
	// padding-left: 2px;
}
