/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-newspaper-columns-block-newspaper-columns-block {
	box-sizing: border-box;
	column-fill: balance;
	/* 	overflow: hidden; */

	&.is-style-drop-cap {
		p:first-of-type:first-letter {
			color: var(--drop-cap-color);
			float: left;
			font-size: var(--drop-cap-font-size);
			line-height: var(--drop-cap-line-height);
			padding-right: 0.33rem;
		}
	}
}
